nav.main-content-nav {
  background: #ffffff;
  color: #848E78;
  margin-top: 0px;
  line-height: 1.9;
  max-width: 400px;
  font-size: .8em;
}

nav.main-content-nav>ul>li>a {
  padding: 0 20px;
  color: #848E78;
  display: block;
  line-height: 2.5;
}

footer {
  margin-top: 0;
}

.main-content-box, .main-content-nav {
  padding-bottom: 2em;
}

@media (min-height: 300px) {
  nav.main-content-nav ul {
    position: sticky;
    top: 180px;
    left: 20px;
  }

  @media only screen and (min-width: 640px) {
    main {
      display: grid;
      grid-template-columns: 150px 1fr;
    }

    @media only screen and (min-width: 640px) {
      nav.main-content-nav {
        background: #F5F5EF;
        line-height: 4;
      }
    }
  }
}
