/*
Colors used:
Primary Color (green): #848E78;
Secondary Color (brown/gold): #A28359;
Accent color (cream): #F5F5EF;
Accent color (white): #FFFFFF;
Accent color (Grey): #565656
*/
/* GENERAL RULES */
img {
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'neue-kabel', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #565656;
}

* {
  box-sizing: border-box;
}

/*Typography*/
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.4;
  display: block;
}

h1 {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.75em;
  font-weight: 500;
  text-align: center;
  color: #A28359;
}

h2 {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.60em;
  font-weight: 400;
  text-align: center;
  color: #A28359;
}

h3 {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.35em;
  font-weight: 500;
  font-style: italic;
  text-align: left;
  color: #A28359;
}

h4 {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  text-align: center;
  color: #565656;
}

h5 {
  font-family: "neue-kabel", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  color: #565656;
}

p {
  font-family: 'neue-kabel', sans-serif;
  font-size: .85em;
  font-weight: 400;
}

ul {
  font-family: 'neue-kabel', sans-serif;
  font-size: 1em;
  padding-left: 2em;
}

/* LINKS AND BUTTONS */
a {
  color: #A28359;
  text-decoration: none;
  font-weight: 400;
}

a:visited {
  color: #A28359;
}

a:hover,
a:focus {
  color: #848E78;
  text-decoration: underline;
}

a:active {
  color: #848E78;
}

.button {
  display: inline-block;
  background-color: #848E78;
  color: #FFFFFF;
  font-weight: 500;
  padding: 10px 20px 8px;
  border-radius: 6px;
  border-bottom: 3px solid #5A6052;
  transition-duration: .5s;
  transition: 0.5s opacity;
}

.button:visited {
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 20px 8px;
}

.button:hover {
  opacity: 0.7;
  text-decoration: none;
  color: #ffffff;
}

.button:active {
  color: #FFFFFF;
  background-color: #565656;
}

.button:focus {
  outline: none;
  text-decoration: none;
  border: 3px solid #848E78;
}

/* LAYOUT & SPACING */
/* top padding on main element accomodates for fixed nav bar */
main {
  position: relative;
}

.col-sm-12 {
  width: 100%;
}

/* general page margins */
.container {
  margin: 0 1.25em;
}

/* spacing between blocks of content */
.image {
  max-width: 900px;
  margin: 0 auto 2em;
}

.image.cover {
  margin-bottom: 1em;
}

.image.internal {
  margin: 0 auto 1em;
}

.image.last {
  margin-bottom: 0;
}

.text-content {
  max-width: 900px;
  margin: 0 auto 1.5em;
}

#work .row {
  padding-bottom: 25px;
}

/* HOME PAGE */
#hero {
  background-color: #F5F5EF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
}

#hero h1 {
  padding-top: 10px;
  font-size: 1.40em;
  color: #A28359;
  margin: 0;
}

#hero h2 {
  color: #565656;
  margin: 0.8em auto 0.6em;
  max-width: 270px;
}

#hero h3 {
  color: #565656;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.55;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 300px;
}

#work h3 {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  color: #A28359;
}

/* ANIMATIONS */
#hand_left {
  animation: hand_left .5s linear infinite;
  transform-origin: center;
  animation-direction: alternate-reverse;
}

@keyframes hand_left {
  from {
    transform: rotateZ(5deg);
  }

  to {
    transform: rotateZ(0deg);
  }
}

/*Project Pages*/
#casestudy {
  text-align: center;
}

#casestudy-button {
  text-align: center;
  margin-top: .75em;
}

/* ACTIVE NAV-PROJECT PAGE/*

/* HEADER/NAV BAR */
.logo {
  padding-top: 15px;
  max-width: 70px;
  text-align: left
}

header {
  background-color: #848E78;
  padding: 10px 0 4px;
  z-index: 9999;
  width: 100%;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 15, 0.4);
  -moz-box-shadow: 0 3px 8px 0 rgba(15, 15, 15, 0.4);
  box-shadow: 0 3px 8px 0 rgba(15, 15, 15, 0.4);
}

#myHeader {
  position: fixed;
  z-index: 9999;
}

main {
  padding-top: 100px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li>a {
  padding: 0 5px;
  font-family: "neue-kabel", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
}

nav>ul>li>a:visited {
  padding: 0 5px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}

nav>ul>li>a:active {
  padding: 0 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
}

nav>ul>li>a:hover, nav>ul>li>a:focus {
  display: inline-block;
  color: #848E78;
  background-color: #F5F5EF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}

.active {
  height: 2px;
  width: 10rem;
  transition-duration: 6s;
}

/*HAMBURGER MENU*/
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle li .icon {
  position: absolute;
  right: 5px;
  top: 30px;
  font-size: 30px;
  color: #F5F5EF;
  background-color: #848E78;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #F5F5EF;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* ABOUT PAGE */
div.profile-photo {
  max-width: 525px;
  margin: 0 auto;
}

.multi-column-list ul {
  margin-top: 0;
}

#resume {
  text-align: center;
}
#aboutme {
  padding-bottom: 2em;
  padding-top: 4em;
}

#aboutme h2 {
  text-align: left;
}

/* FOOTER */
footer {
  background-color: #FAFAF7;
  text-align: center;
  padding: .5em .5em 0.5em;
  width: 100%;
}

#contact p {
  max-width: 380px;
  margin: 0.75em auto;
}

#contact .title-wrapper {
  margin-bottom: 22px;
}

#social ul {
  list-style-type: none;
  padding: 0;
  font-size: 0em;
  line-height: 0;
  margin: 18px 0;
}

#social li {
  display: inline;
}

#social a,
#social a:visited,
#social a:hover,
#social a:active,
#social a:focus {
  text-decoration: none;
  color: transparent;
  line-height: 0%;
}

#social img {
  height: 46px;
  width: auto;
  opacity: 0.7;
  padding: 12px;
  margin: 0 4px;
  color: #565656
}

/* ==============================
S devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  /* LAYOUT & SPACING */
  .container {
    margin: 0 1.5em;
  }

  [class*="col-"] {
    float: left;
    padding: 0 0.65em;
  }

  .row:after {
    content: "";
    clear: both;
    display: table;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  /* HEADER/NAV BAR */
  header {
    text-align: unset;
    padding: 2px 0 6px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 12px;
  }

  nav>ul {
    margin: 1.2em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0 0 0;
  }

  .navtoggle.responsive li {
    padding: 0 0 0;
    border-top: none;
  }

  .navtoggle.responsive li:last-child {
    padding: 0 0 0;
  }

  main {
    padding-top: 100px;
  }

  .logo {
    max-width: 80px;
    text-align: left
  }

  /* HOME PAGE */
  #hero {
    text-align: center;
  }

  #hero h1 {
    font-size: 1.5em;
    font-weight: 500;
    max-width: 420px;
    margin: 30px auto;
  }

  #hero h5 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 20px auto;
    max-width: 360px;
  }

  #hero span {
    display: block;
  }

  #work p {
    font-size: 1em;
  }

  /* ABOUT ME */
  #skills-tools {
    width: 100%;
  }

  #about-page h1 {
    padding: 30px;
  }

  #about-page h2 {
    margin-top: 45px;
  }

  #about-page h3 {
    margin-top: 0;
  }

  #resume-button {
    padding-top: 10px;
  }

  .leftp50 {
    padding-left: 40px;
    padding-top: 0px;
}

  .skills {
    padding-top: 30px;
  }

  .tools {
    padding-top: 30px;
  }

  /* FOOTER*/
  #Contact p {
    font-size: 1em;
  }

  #social img {
    height: 50px;
    width: auto;
    opacity: 0.7;
    padding: 12px;
    margin: 0 4px;
    color: #565656
  }

  /* ==============================
M devices - 768px and larger
============================== */
  @media only screen and (min-width: 768px) {

    /* LAYOUT & SPACING */
    .container {
      margin: 0 1.75em;
    }

    [class*="col-"] {
      padding: 0 0.65em;
      float: left;
    }

    .col-lg-1 {
      width: 8.33%;
    }

    .col-lg-2 {
      width: 16.66%;
    }

    .col-lg-3 {
      width: 25%;
    }

    .col-lg-4 {
      width: 33.33%;
    }

    .col-lg-5 {
      width: 41.66%;
    }

    .col-lg-6 {
      width: 50%;
    }

    .col-lg-7 {
      width: 58.33%;
    }

    .col-lg-8 {
      width: 66.66%;
    }

    .col-lg-9 {
      width: 75%;
    }

    .col-lg-10 {
      width: 83.33%;
    }

    .col-lg-11 {
      width: 91.66%;
    }

    .col-lg-12 {
      width: 100%;
    }

    .row:after {
      content: "";
      clear: both;
      display: table;
    }

    /* ABOUT PAGE */
    .multi-column-list ul {
      margin-top: 0;
    }

    #about-page h2 {
      margin-top: 0px;
    }

    #about-page h3 {
      margin-top: 0;
    }

    /* ==============================
L devices - 1024px and larger
============================== */
    @media only screen and (min-width: 1024px) {

      /* LAYOUT & SPACING */
      .container {
        max-width: 1200px;
        padding: 0 1.75em;
        margin-left: auto;
        margin-right: auto;
      }

      [class*="col-"] {
        padding: 0 0.8em;
      }

      .col-xl-1 {
        width: 8.33%;
      }

      .col-xl-2 {
        width: 16.66%;
      }

      .col-xl-3 {
        width: 25%;
      }

      .col-xl-4 {
        width: 33.33%;
      }

      .col-lg-5 {
        width: 41.66%;
      }

      .col-xl-6 {
        width: 50%;
      }

      .col-xl-7 {
        width: 58.33%;
      }

      .col-xl-8 {
        width: 66.66%;
      }

      .col-xl-9 {
        width: 75%;
      }

      .col-xl-10 {
        width: 83.33%;
      }

      .col-xl-11 {
        width: 91.66%;
      }

      .col-xl-12 {
        width: 100%;
      }

      /* HOME PAGE */
      #hero {
        text-align: center;
      }

      #hero h1 {
        font-size: 1.60em;
        font-weight: 500;
        max-width: 800px;
        margin: 30px auto;
      }

      #hero h5 {
        font-size: 1.1em;
        font-weight: 400;
        max-width: 800px;
      }

      #hero span {
        display: block;
      }

      #work h3 {
        font-size: 1.45em;
      }

      #work p {
        font-size: 1.02em;
      }

      /* ABOUT PAGE*/
      /* PROJECT PAGES*/
      .project-image {
        max-width: 500px;
        margin: 0 auto 1em;
      }

      .project-image-cover {
        max-width: 800px;
        margin: auto;
        margin-bottom: 1em;
      }

      .project-image.internal {
        margin: 0 auto 1em;
      }

      .project-image.last {
        margin-bottom: 0;
      }

      .text-content {
        max-width: 800px;
        margin: 0 auto 1.5em;
      }

      #conscious p {
        font-size: 1em;
      }

      #conscious h3 {
        font-size: 1.5em;
      }

      #casestudy-button {
        text-align: center;
        margin-top: 1em;
      }

      /* FOOTER*/
      #Contact p {
        font-size: 1.05em;
        max-width: 700px;
        margin: 30px auto;
      }
    }
  }
}
